POSTGRES_USER=shv_admin
POSTGRES_PASSWORD=shv_password
POSTGRES_DB=smarthouse_valuator
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
API_KEY_TENANT_A=key-tenant-a
API_KEY_TENANT_B=key-tenant-b
ML_SERVICE_URL=http://ml_service:8001
